@model jobaffair.Models.mozfeens

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>mozfeens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mozf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mozf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
